################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/photoviewer/bin
/photoviewer/obj/Debug
